html {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  height: 100%;
  font-family: Arial, sans-serif;
  color: #555;
  overflow: auto;
}

a {
  color: #555;
  text-decoration: none;
}

a:visited {
  color: #555;
  text-decoration: none;
}

a:hover {
  color: #555;
  text-decoration: none;
}

.dive-plot {
  width: 100%;
}

.map-pane {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  transition: opacity 1s;
  display: none;
}

.permalink {
  position: fixed;
  right: 2%;
  bottom: 2%;
  width: content;
  padding: 2px;
}


.screenshot-label {
  margin: 0 auto;
  text-align: center;
}

.screenshot-container {
  width: 40%;
  margin: 3% auto;
  height: auto;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr)); /* Adjusts the number of columns dynamically */
}

/* Image inside the grid item */
.screenshot-container img {
  width: 100%;                /* Scales the image to fill the container */
  height: auto;               /* Maintains aspect ratio */
  object-fit: cover;          /* Ensures the image covers the container */
}
